In [2]:
import numpy as np
import pandas as pd

In [3]:
#create function
# to generate a list
def generate_population():
    chromosome = [[i, j, k, l, m, n, o, p]
        for i in range(1, 9)
        for j in range(1, 9)
        for k in range(1, 9)
        for l in range(1, 9)
        for m in range(1, 9)
        for n in range(1, 9)
        for o in range(1, 9)
        for p in range(1, 9)
        if all([i != j, i != k, i != l, i != m, i != n, i != o, i != p,
                j != k, j != l, j != m, j != n, j != o, j != p,
                k != l, k != m, k != n, k != o, k != p,
                l != m, l != n, l != o, l != p,
                m != n, m != o, m != p,
                n != o, n != p,
                o != p])]
    chromosome = np.array(chromosome)
    chromosome = pd.DataFrame(chromosome)
    return chromosome

In [4]:
initial_population = generate_population()
initial_population

       0  1  2  3  4  5  6  7
0      1  2  3  4  5  6  7  8
1      1  2  3  4  5  6  8  7
2      1  2  3  4  5  7  6  8
3      1  2  3  4  5  7  8  6
4      1  2  3  4  5  8  6  7
...   .. .. .. .. .. .. .. ..
40315  8  7  6  5  4  1  3  2
40316  8  7  6  5  4  2  1  3
40317  8  7  6  5  4  2  3  1
40318  8  7  6  5  4  3  1  2
40319  8  7  6  5  4  3  2  1

[40320 rows x 8 columns]

In [5]:
# function to define 8-queen problems
# mengatur penempatan queen, sehingga tidak ada ratu yang menyerang ratu lainnya.
def fitness(population):
    pop_size = population.shape[0]
    x = 0
    y = 0
    b = 0
    c = 0
    Fit = []
    for k in range(pop_size):
        for i in range(8):
            c = 0
            for j in range(8):
                if(i != j):
                    x = abs(i-j)
                    y = abs(population.iloc[k][i] - population.iloc[k][j])
                    if(x == y):
                        c += 1 # jika 1 ratu menyerang ratu lainnya maka nilai c akan bertambah
        # nilai fitnes kemudian dihitung sebagai b = 28-c
        # 28 = jumlah maksimum dari penyerangan yg dilakukan
        b = 28-c
        Fit.append(b)
    Fitness = np.array(Fit) # Finally, the fitness values for all individuals in the population are returned as a numpy array.
    return Fitness

In [6]:
Fitness = fitness(initial_population)
Fitness

array([21, 27, 23, ..., 23, 27, 21])

In [7]:
data = pd.DataFrame(initial_population)
data['Fit'] = pd.DataFrame(Fitness)

In [30]:
# data_100 is dataset,  contain 100 rows
data_100 = data.sample(n=100)
data_100 = data_100.reset_index(drop = True)
data_100

    0  1  2  3  4  5  6  7  Fit
0   4  1  7  8  5  3  2  6   28
1   5  3  6  7  1  2  4  8   28
2   4  6  3  8  7  5  2  1   27
3   2  5  1  6  8  7  4  3   27
4   3  1  8  7  2  4  5  6   26
.. .. .. .. .. .. .. .. ..  ...
95  3  1  5  2  4  7  8  6   27
96  1  5  2  6  8  7  3  4   27
97  1  5  6  8  3  4  7  2   27
98  1  4  7  6  8  2  5  3   28
99  8  6  4  5  1  7  2  3   27

[100 rows x 9 columns]

In [9]:
def selection(data):
    selected_parent = data.sample(n=5)
    selected_parent = selected_parent.sort_values("Fit", ascending=False)
    selected_parent1 = selected_parent.iloc[0]
    selected_parent2 = selected_parent.iloc[1] 
    return selected_parent1[:8], selected_parent2[:8]

In [31]:
#menggabungkan dua parent (diwakili sebagai array numpy) untuk membuat dua child solusi.
def crossover(C1, C2):
    point = np.random.randint((1,7), size=1)
    point = int(point)
    
    C1_1 = C1[:point]
    C1_2 = C1[point:]
    
    C2_1 = C2[:point]
    C2_2 = C2[point:]
    
    C1_tuple = (C1_1, C2_2)
    C1 = np.hstack(C1_tuple)

    C2_tuple = (C2_1, C1_2)
    C2 = np.hstack(C2_tuple)
    return C1, C2

In [11]:
def mutation(ch):
    point1 = np.random.randint(8, size=1)
    point1 = int(point1)
    
    point2 = np.random.randint(8, size=1)
    point2 = int(point2)
    
    first_ele = ch[point1]  
    second_ele = ch[point2]
    
    ch[point1] = second_ele
    ch[point2] = first_ele
    
    return ch

In [12]:
Parent1 = []
Child_Gen1 = []
for i in range(25):
    Pa1, Pa2 = selection(data_100)
    Parent1.append(Pa1)
    Parent1.append(Pa2)
    
    Child1, Child2 = crossover(Pa1, Pa2)

    Child1 = mutation(Child1)
    Child2 = mutation(Child2)
    
    Child_Gen1.append(Child1)
    Child_Gen1.append(Child2)
    
Parent1_df = pd.DataFrame(Parent1)
Parent1_df = Parent1_df.reset_index(drop = True)

Child_Gen1 = pd.DataFrame(Child_Gen1)
Child_Gen1 = Child_Gen1.reset_index(drop = True)

/tmp/ipykernel_13793/3738766599.py:5: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C1_1 = C1[:point]
/tmp/ipykernel_13793/3738766599.py:6: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C1_2 = C1[point:]
/tmp/ipykernel_13793/3738766599.py:8: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C2_1 = C2[:point]
/tmp/ipykernel_13793/3738766599.py:9: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C2_2 = C2[point:]

In [13]:
Child_Gen1

    0  1  2  3  4  5  6  7
0   4  2  3  8  5  7  1  6
1   7  5  2  4  6  8  3  1
2   8  7  5  4  3  2  6  1
3   8  7  3  4  2  5  1  6
4   2  5  7  6  1  4  8  3
5   1  6  8  5  3  4  7  2
6   2  5  8  7  6  4  3  1
7   1  4  3  7  6  2  5  8
8   1  2  4  5  7  6  8  3
9   2  1  7  6  8  4  5  3
10  5  2  1  7  8  6  4  3
11  6  3  2  4  1  8  7  5
12  6  2  8  5  4  7  1  3
13  7  6  2  4  1  5  3  8
14  8  6  3  2  5  1  4  7
15  1  7  8  5  3  6  4  2
16  4  5  6  3  2  7  8  1
17  2  5  3  1  8  7  4  6
18  7  3  6  4  2  8  5  1
19  3  7  6  8  5  1  2  4
20  1  2  6  5  8  4  7  3
21  2  1  6  5  7  3  8  4
22  2  7  4  5  3  1  6  8
23  7  8  2  5  1  3  6  4
24  2  5  8  7  4  6  3  1
25  7  3  8  4  6  2  5  1
26  6  2  8  5  3  7  4  1
27  7  3  2  4  8  6  5  1
28  1  6  8  5  2  7  3  4
29  1  4  6  5  8  2  7  3
30  3  6  2  5  8  7  1  4
31  1  3  6  8  5  2  7  4
32  2  6  1  3  5  8  7  4
33  2  4  7  8  3  6  1  5
34  8  4  7  1  3  5  6  2
35  8  3  6  2  5  1  4  7
36  3  8  4  2  5  7  6  1
37  7  1  3  6  4  2  8  5
38  8  7  5  3  6  1  2  4
39  8  3  2  5  7  6  1  4
40  5  4  8  7  3  6  2  1
41  3  5  6  7  8  1  2  4
42  4  7  3  5  8  2  1  6
43  2  4  8  6  3  7  1  5
44  6  7  2  4  8  5  3  1
45  3  1  7  2  8  6  5  4
46  2  8  6  1  5  3  4  7
47  6  2  5  8  3  7  1  4
48  6  3  2  4  7  8  5  1
49  6  2  7  4  8  1  5  3

In [14]:
Gen1_Fitness = fitness(Child_Gen1)
data_Gen1 = Child_Gen1
data_Gen1['Fit'] = pd.DataFrame(Gen1_Fitness)

In [15]:
data_Gen1

    0  1  2  3  4  5  6  7  Fit
0   4  2  3  8  5  7  1  6   28
1   7  5  2  4  6  8  3  1   28
2   8  7  5  4  3  2  6  1   26
3   8  7  3  4  2  5  1  6   28
4   2  5  7  6  1  4  8  3   28
5   1  6  8  5  3  4  7  2   27
6   2  5  8  7  6  4  3  1   28
7   1  4  3  7  6  2  5  8   26
8   1  2  4  5  7  6  8  3   28
9   2  1  7  6  8  4  5  3   28
10  5  2  1  7  8  6  4  3   26
11  6  3  2  4  1  8  7  5   28
12  6  2  8  5  4  7  1  3   27
13  7  6  2  4  1  5  3  8   27
14  8  6  3  2  5  1  4  7   28
15  1  7  8  5  3  6  4  2   28
16  4  5  6  3  2  7  8  1   27
17  2  5  3  1  8  7  4  6   28
18  7  3  6  4  2  8  5  1   27
19  3  7  6  8  5  1  2  4   27
20  1  2  6  5  8  4  7  3   28
21  2  1  6  5  7  3  8  4   27
22  2  7  4  5  3  1  6  8   28
23  7  8  2  5  1  3  6  4   27
24  2  5  8  7  4  6  3  1   27
25  7  3  8  4  6  2  5  1   28
26  6  2  8  5  3  7  4  1   27
27  7  3  2  4  8  6  5  1   28
28  1  6  8  5  2  7  3  4   27
29  1  4  6  5  8  2  7  3   28
30  3  6  2  5  8  7  1  4   28
31  1  3  6  8  5  2  7  4   26
32  2  6  1  3  5  8  7  4   28
33  2  4  7  8  3  6  1  5   28
34  8  4  7  1  3  5  6  2   27
35  8  3  6  2  5  1  4  7   28
36  3  8  4  2  5  7  6  1   28
37  7  1  3  6  4  2  8  5   28
38  8  7  5  3  6  1  2  4   28
39  8  3  2  5  7  6  1  4   26
40  5  4  8  7  3  6  2  1   27
41  3  5  6  7  8  1  2  4   28
42  4  7  3  5  8  2  1  6   28
43  2  4  8  6  3  7  1  5   27
44  6  7  2  4  8  5  3  1   27
45  3  1  7  2  8  6  5  4   26
46  2  8  6  1  5  3  4  7   28
47  6  2  5  8  3  7  1  4   27
48  6  3  2  4  7  8  5  1   28
49  6  2  7  4  8  1  5  3   27

In [16]:
Parent2 = []
Child_Gen2 = []
for i in range(12):
    Pa1, Pa2 = selection(data_Gen1)
    Parent2.append(Pa1)
    Parent2.append(Pa2)
    
    Child1, Child2 = crossover(Pa1, Pa2)

    Child1 = mutation(Child1)
    Child2 = mutation(Child2)
    
    Child_Gen2.append(Child1)
    Child_Gen2.append(Child2)
    
Parent2_df = pd.DataFrame(Parent2)
Parent2_df = Parent2_df.reset_index(drop = True)

Child_Gen2 = pd.DataFrame(Child_Gen2)
Child_Gen2 = Child_Gen2.reset_index(drop = True)

/tmp/ipykernel_13793/3738766599.py:5: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C1_1 = C1[:point]
/tmp/ipykernel_13793/3738766599.py:6: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C1_2 = C1[point:]
/tmp/ipykernel_13793/3738766599.py:8: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C2_1 = C2[:point]
/tmp/ipykernel_13793/3738766599.py:9: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C2_2 = C2[point:]

In [17]:
Child_Gen2

    0  1  2  3  4  5  6  7
0   6  5  8  7  2  4  3  1
1   8  4  6  2  5  1  3  7
2   8  3  4  2  5  7  6  1
3   6  3  2  4  1  8  7  5
4   1  4  6  5  7  2  8  3
5   6  3  2  4  7  1  5  8
6   7  1  3  5  4  2  8  6
7   7  5  2  1  6  8  3  4
8   7  3  6  2  5  1  4  8
9   4  8  3  2  5  7  6  1
10  4  7  3  5  8  2  1  6
11  3  6  8  5  2  7  1  4
12  1  7  8  5  3  6  4  2
13  2  1  4  5  7  6  8  3
14  2  8  6  1  5  3  4  7
15  1  2  6  5  7  4  8  3
16  1  2  4  5  8  6  7  3
17  8  4  6  2  5  1  3  7
18  1  8  6  2  5  3  4  7
19  2  5  8  7  6  4  3  1
20  6  7  2  4  3  8  5  1
21  2  3  1  6  5  8  7  4
22  3  8  5  2  4  7  6  1
23  7  1  3  6  4  2  5  8

In [18]:
Gen2_Fitness = fitness(Child_Gen2)
data_Gen2 = Child_Gen2
data_Gen2['Fit'] = pd.DataFrame(Gen2_Fitness)

In [19]:
data_Gen2

    0  1  2  3  4  5  6  7  Fit
0   6  5  8  7  2  4  3  1   28
1   8  4  6  2  5  1  3  7   28
2   8  3  4  2  5  7  6  1   27
3   6  3  2  4  1  8  7  5   28
4   1  4  6  5  7  2  8  3   28
5   6  3  2  4  7  1  5  8   27
6   7  1  3  5  4  2  8  6   28
7   7  5  2  1  6  8  3  4   27
8   7  3  6  2  5  1  4  8   27
9   4  8  3  2  5  7  6  1   28
10  4  7  3  5  8  2  1  6   28
11  3  6  8  5  2  7  1  4   28
12  1  7  8  5  3  6  4  2   28
13  2  1  4  5  7  6  8  3   28
14  2  8  6  1  5  3  4  7   28
15  1  2  6  5  7  4  8  3   28
16  1  2  4  5  8  6  7  3   28
17  8  4  6  2  5  1  3  7   28
18  1  8  6  2  5  3  4  7   28
19  2  5  8  7  6  4  3  1   28
20  6  7  2  4  3  8  5  1   27
21  2  3  1  6  5  8  7  4   28
22  3  8  5  2  4  7  6  1   27
23  7  1  3  6  4  2  5  8   27

In [20]:
Parent3 = []
Child_Gen3 = []
for i in range(6):
    Pa1, Pa2 = selection(data_Gen2)
    Parent3.append(Pa1)
    Parent3.append(Pa2)
    
    Child1, Child2 = crossover(Pa1, Pa2)

    Child1 = mutation(Child1)
    Child2 = mutation(Child2)
    
    Child_Gen3.append(Child1)
    Child_Gen3.append(Child2)
    
Parent3_df = pd.DataFrame(Parent3)
Parent3_df = Parent3_df.reset_index(drop = True)

Child_Gen3 = pd.DataFrame(Child_Gen3)
Child_Gen3 = Child_Gen3.reset_index(drop = True)

/tmp/ipykernel_13793/3738766599.py:5: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C1_1 = C1[:point]
/tmp/ipykernel_13793/3738766599.py:6: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C1_2 = C1[point:]
/tmp/ipykernel_13793/3738766599.py:8: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C2_1 = C2[:point]
/tmp/ipykernel_13793/3738766599.py:9: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C2_2 = C2[point:]

In [21]:
Child_Gen3

    0  1  2  3  4  5  6  7
0   8  4  6  2  5  7  3  1
1   8  4  6  2  1  5  3  7
2   7  4  6  2  5  1  3  8
3   1  2  4  7  8  6  5  3
4   4  5  8  7  2  6  3  1
5   2  8  3  1  5  6  4  7
6   8  4  6  2  5  3  1  7
7   2  5  8  7  6  4  1  3
8   2  8  6  1  5  4  3  7
9   7  1  3  5  8  2  4  6
10  2  5  6  1  8  3  4  7
11  1  7  8  5  3  4  6  2

In [22]:
Gen3_Fitness = fitness(Child_Gen3)
data_Gen3 = Child_Gen3
data_Gen3['Fit'] = pd.DataFrame(Gen3_Fitness)

In [23]:
data_Gen3

    0  1  2  3  4  5  6  7  Fit
0   8  4  6  2  5  7  3  1   26
1   8  4  6  2  1  5  3  7   27
2   7  4  6  2  5  1  3  8   27
3   1  2  4  7  8  6  5  3   27
4   4  5  8  7  2  6  3  1   28
5   2  8  3  1  5  6  4  7   28
6   8  4  6  2  5  3  1  7   28
7   2  5  8  7  6  4  1  3   25
8   2  8  6  1  5  4  3  7   28
9   7  1  3  5  8  2  4  6   28
10  2  5  6  1  8  3  4  7   28
11  1  7  8  5  3  4  6  2   27

In [24]:
Parent4 = []
Child_Gen4 = []
for i in range(4):
    Pa1, Pa2 = selection(data_Gen3)
    Parent4.append(Pa1)
    Parent4.append(Pa2)
    
    Child1, Child2 = crossover(Pa1, Pa2)

    Child1 = mutation(Child1)
    Child2 = mutation(Child2)
    
    Child_Gen4.append(Child1)
    Child_Gen4.append(Child2)
    
Parent4_df = pd.DataFrame(Parent4)
Parent4_df = Parent4_df.reset_index(drop = True)

Child_Gen4 = pd.DataFrame(Child_Gen4)
Child_Gen4 = Child_Gen4.reset_index(drop = True)

/tmp/ipykernel_13793/3738766599.py:5: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C1_1 = C1[:point]
/tmp/ipykernel_13793/3738766599.py:6: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C1_2 = C1[point:]
/tmp/ipykernel_13793/3738766599.py:8: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C2_1 = C2[:point]
/tmp/ipykernel_13793/3738766599.py:9: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  C2_2 = C2[point:]

In [25]:
Child_Gen4

   0  1  2  3  4  5  6  7
0  4  2  8  7  5  6  3  1
1  8  4  6  7  5  3  1  2
2  2  5  8  1  6  3  4  7
3  6  1  3  5  8  2  4  7
4  2  5  3  1  8  6  4  7
5  5  8  3  1  2  6  4  7
6  1  7  8  6  3  4  5  2
7  4  5  3  7  2  6  8  1

In [26]:
Gen4_Fitness = fitness(Child_Gen4)
data_Gen4 = Child_Gen4
data_Gen4['Fit'] = pd.DataFrame(Gen4_Fitness)

In [27]:
data_Gen4

   0  1  2  3  4  5  6  7  Fit
0  4  2  8  7  5  6  3  1   28
1  8  4  6  7  5  3  1  2   26
2  2  5  8  1  6  3  4  7   28
3  6  1  3  5  8  2  4  7   27
4  2  5  3  1  8  6  4  7   28
5  5  8  3  1  2  6  4  7   28
6  1  7  8  6  3  4  5  2   26
7  4  5  3  7  2  6  8  1   28

In [28]:
CHILD = data_Gen1.append(data_Gen2)
CHILD = CHILD.append(data_Gen3)
CHILD = CHILD.append(data_Gen4)

/tmp/ipykernel_13793/3282427678.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CHILD = data_Gen1.append(data_Gen2)
/tmp/ipykernel_13793/3282427678.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CHILD = CHILD.append(data_Gen3)
/tmp/ipykernel_13793/3282427678.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  CHILD = CHILD.append(data_Gen4)

In [29]:
CHILD = CHILD.sort_values("Fit", ascending=False)
CHILD = CHILD.reset_index(drop = True)
CHILD.head(10)

   0  1  2  3  4  5  6  7  Fit
0  4  2  3  8  5  7  1  6   28
1  3  8  4  2  5  7  6  1   28
2  1  7  8  5  3  6  4  2   28
3  3  6  8  5  2  7  1  4   28
4  4  7  3  5  8  2  1  6   28
5  4  8  3  2  5  7  6  1   28
6  7  1  3  5  4  2  8  6   28
7  1  4  6  5  7  2  8  3   28
8  6  3  2  4  1  8  7  5   28
9  8  4  6  2  5  1  3  7   28